<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a Home Page</h1>
    <h3><%= "akhil kumar".toUpperCase() %></h3>     <!--Using ejs-->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, doloremque reiciendis magnam dignissimos deserunt dicta. Neque, commodi quia nemo quaerat voluptate provident, quae illum tempora optio saepe excepturi dolore a?</p>
    <button>Click Me!</button>
</body>
</html>