/* Universal selector */
*{
    font-family: 'Courier New';
}

/* Element Selector */
h1,
h3{
    color: #b92b27;
}

/* ID Selector */
#login{
    background-color: white;
}

#signup{
    color: white;
    background-color: #b92b27;
}

/* Class Selector */
.upvote{
    color: aliceblue;
    background-color: green;
}

/* Descendent Selector */
.post a{
    color: purple;
    background-color: yellow;
}

/* Adjacent Sibling Combinator */
p + h3{
    text-decoration: underline;
}

.upvote + button{
    background-color: cornflowerblue;
    color: darkblue;
}

/* Child Combinator */
div > input{
    background-color: darksalmon;
}

/* Attributr Selector */
input[type="text"]{
    color: green;
}

input[type="password"]{
    color: red;
}

input[type]{
    background-color: ghostwhite;
}

/* Pseudo Class */

/* hover */
button:hover{
    background-color: black;
    color: white;
}

/* active */
button:active{
    background-color: hotpink;
    color: black;
}

p:active{
    font-weight: bold;
    color: green;
}

/* checked */
input[type="radio"]:checked + label{
    font-weight: bold;
    color: red;
}

/* nth-of-type */
div:nth-of-type(2n){
    background-color: blanchedalmond;
}

/* Pseudo Elements */

/* ::first-letter */
h1::first-letter{
    color: black;
}

/* ::first-line */
p::first-line{
    color: blue;
}

/* ::selection */
p::selection{
    background-color: limegreen;
}

/* Cascading Property */
h3{
    background-color: yellow;
}

h3{
    background-color: yellow;
}