<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h2>Edit your post</h2>
    <p>Post id : <%= post.id %></p>
    <p>Post username : @<%= post.username %></p>
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea name="content" cols="30" rows="5"><%= post.content %></textarea>
        <button>Save</button>
    </form>
</body>
</html>