<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="enter username" name="username" id="new-user">
        <br/><br/>
        <textarea name="content" id="user-content" cols="30" rows="5"></textarea>
        <br/>
        <button>Submit Post</button>
    </form>
</body>
</html>