<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in Details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Here is your Post in Details!</h2>
    <p>Post id : <%= post.id %></p>
    <div class="post">
        <h3 class="user">@<%= post.username %></h3>
        <h4 class="content"><%= post.content %></h4>
    </div>
</body>
</html>