div{
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}

#static{
    background-color: yellow;
    position: static;
    /* top / left will not work in static  */
    top: 100px;
    left: 100px;
}

#relative{
    background-color: blue;
    position: relative;
    top: 100px;
    left: 100px;
}

#absolute{
    background-color: pink;
    position: absolute;
    top: 100px;
    left: 100px;
}

#fixed{
    background-color: red;
    position: fixed;
    top: 100px;
    left: 100px;
}