body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 5px solid black;
    margin: 0.3rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.green {
    background-color: green;
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: blue;
}

.error {
    background-color: red;
}