/* 
    Qs1.Set the background page to color “wheat”, by using an inline style.

    Qs2.Change the color of the poem in the page to brown(usethehexcodeforcolor).

    Qs3.Align all the headings & the poem to the center of the poge.

    Qs4.Change the color of the poem to red & the poet’s name to black.

    Qs5.Change the font of the entire document to the font-Georgia.

    Qs6.Set the color of the Wikipedia link to green & remove its underline(usethergbvalueforcolor).

    Qs7.Change the button background color to white & button text to blueviolet.

    Qs8.What is the hex code for black color? Set the textarea font color to black.

    Qs9.Set the poem’s line-height to 30px.
    
    Qs10.Underline only the word Ozymandias inside the poem.
*/

h1{
    text-align: center;
    color: red;
    font-family: georgia;
}

h3{
    text-align: center;
    color: black;
}

h4{
    text-align: center;
}

p{
    color: #964B00;
    text-align: center;
    line-height: 30px;
}

a{
    color: rgb(0, 255, 0);
    text-decoration: none;
}

span{
    text-decoration: underline;
}

button{
    background-color: #fff;
    color: blueviolet;
}

textarea{
    color: #000;
}

