<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Username</title>
</head>
<body>
    <h2>You are about to edit this user : <%= user.email %></h2>
    <form method="post" action="/user/<%= user.id %>?_method=PATCH">
        <textarea name="username" rows="2"> <%= user.username %> </textarea>
        <input type="password" name="password" placeholder="enter password">
        <button>Edit</button>
    </form>
</body>
</html>