<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <h2>Enter your details : </h2>
    <form action="/user/new" method="POST">
        Username:   <input name="username" type = "text" placeholder="enter username"><br><br>
        Email Id:   <input name="email" type ="email" placeholder="enter email"><br><br>
        Password:   <input name="password" type="password" placeholder="enter password"><br><br>
        <button>Submit</button>
    </form>    
</body>
</html>