/* 
    PART A(Selectors)

        Qs1. Give the h1 header a unique id - “mainTopic” & set its color to blue using the id selector.
        Qs2. Align all the text in the page to the center using a universal selector.
        Qs3. Change the font style of all heading tags in the page to ‘Georgia’.
        Qs4. Set the color of all the paragraphs to white & background color to cornflowerblue. (Without using the element selector - ‘p’)
        Qs5. Select all buttons inside div and change their background color to purple & text color to azure. 
    
    PART B(Pseduo class & elements)

        Qs6. Change the button background color to yellow & text color to blue when we hover over it.
        Qs7. Change the color of every odd numbered paragraph to yellow. (Paragraph 1 & 3)
        Qs8. Change the color of the first letter of h1 heading to red.
        Qs9. Set the text color of the check box label to dark green when the checkbox is ticked.
       Qs10. Order these rules according to their specificity, from least specific to most specific. :
                - h1
                - #mainContent
                - .main
                - div .main

            Ans ->  #mainContent > div .main > .main > h1
*/

/* PART A(Selectors) */

#mainTopic{
    color: blue;
}

*{
    text-align: center;
}

h1,
h3,
h5{
    font-family: Georgia;
}

.content{
    background-color: cornflowerblue;
    color: white;
}

div button{
    background-color: purple;
    color: azure;
}

/* PART B(Pseduo class & elements) */

button:hover{
    color: blue;
    background-color: yellow;
}

p:nth-of-type(2n-1){
    color: yellow;
}

h1::first-letter{
    color: red;
}

input[type="checkbox"]:checked + label{
    color: darkgreen;
}
