/* h2{
    display: inline;
    background-color: pink;
}

.a{
    display: block;
    background-color: green;
}

.b{
    border: 2px solid black;
    height: 100px; 
    width: 100px;
    padding: 50px;
    margin: 20px;
}

.c{
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
}

#outer{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    background-color: pink;
    font-size: 20px;
}

#inner{
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
    font-size: 1.5em;
} */

section{
    font-size: 15px;
}

div{
    font-size: 1rem;
}