div{
    height: 100px;
    width: 500px;
    background-color: pink;
    border: 2px solid blue;
    padding: 10px;
    margin-bottom: 25px;
}

button{
    border: 2px solid black;
    border-radius: 10px;
    border-left: 25px;
    border-right: 25px;
}